<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Definition of motor + driver beans -->
    <bean id="electricMotor" class="net.lecigne.codingkatas.springdixmlconfig.motor.ElectricMotor"/>
    <bean id="gasEngine" class="net.lecigne.codingkatas.springdixmlconfig.motor.GasEngine"/>
    <bean id="crazyDriver" class="net.lecigne.codingkatas.springdixmlconfig.driver.CrazyDriver"/>
    <bean id="grandMother" class="net.lecigne.codingkatas.springdixmlconfig.driver.GrandMother"/>

</beans>
